a:link,
a:visited{
	color: steelblue;
	text-decoration: none;
}
a:hover,
a:active{
	color: #172E60;
	text-decoration: none;
}

body {
	background: url('../img/pw_pattern.png');
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
    line-height: 1;
}
h1, h2, h3{
	color:#1B6017;
	font-family: 'Roboto';
}

section {
  margin-bottom: 2em;
}

.color-1{
	background: #1B6017;
}
.color-2{
	background: #172E60;
}
.color-3{
	background: steelblue;
}
.pattern-1{
	background: url('../img/pw_pattern.png') top left repeat;
}
.pattern-2{
	background: url('../img/green_cup.png') top left repeat;
}

.pattern-3{
	background: url('../img/wavegrid.png') top left repeat;
}

.button{
	background: #172E60;
	border-radius: 4px;
	margin: 0.1em;
	margin-top:1em;
	padding: .5em;
}
.button:hover{
	background: steelblue;
	color:#172E60;
}

.button a:hover,
a:active {
	color:#172E60;
	text-decoration: none;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #000;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
}
